<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container my-2">
    <h2>Add Product</h2>

    <form action="/product/save" th:object="${product}" method="POST">
      <input type="text" th:field="*{name}" placeholder="Product Name" class="form-control mb-4 col-4">

      <input type="text" th:field="*{price}" placeholder="Product Price" class="form-control mb-4 col-4">

      <input type="text" th:field="*{fileLocation}" placeholder="File Location" class="form-control mb-4 col-4">

      <button type="submit" class="btn btn-info col-2"> Save Product</button>
    </form>

    <hr>

    <a href="/product"> Back to Product List</a>
  </div>
</body>
</html>