<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Product</title>
</head>
<body>
  <div layout:fragment="content">
  <div class="container-fluid p-2">
    <h1>Product List</h1>

    <a href="/product/add" class="btn btn-primary btn-sm mb-3"> Add Product </a>
    <div class="table-responsive col-lg-11 mx-lg-auto">
      <table border="1" class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Product Picture</th>
          <th scope="col">Product Name</th>
          <th scope="col">Product Price</th>
          <th scope="col">Category</th>
          <th scope="col"> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
          <td>  <img th:src="@{'data:'+${product.image.type}+';base64,'+${product.getRawImage()}}" alt="Red dot" width="320px" /></td>
          <td th:text="${product.name}"></td>
          <td th:text="${product.price}"></td>
          <td th:text="${product.category.name}"></td>
          <td> <a th:href="@{product/update/{id}(id=${product.id})}" class="btn btn-primary">Update</a>
            <a th:href="@{product/delete/{id}(id=${product.id})}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>



</div>


</body>
</html>