<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${something}"/>

    <div class="text-center">
        <div class="row">
            <div class="col">
                <h1>Preparing</h1>
                <hr>
                <div class="col">
                    Order 5
                </div>
            </div>


            <div class="col">
                <h1>Now Serving</h1>
                <hr>
                <div class="col">
                    Order 4
                </div>
            </div>
        </div>
        <div class="row ">



        </div>
    </div>

<!--<table class="table">-->
<!--    <thead>-->
<!--        <tr>-->
<!--            <th scope="col">Preparing</th>-->
<!--            <th scope="col">Age</th>-->
<!--        </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--        <tr>-->
<!--            <td>Order 5</td>-->
<!--            <td>Order 5</td>-->
<!--        </tr>-->
<!--        <tr th:each="person: ${people}">-->
<!--            <td th:text="${person.name}"/>-->
<!--            <td th:text="${person.age}" />-->
<!--        </tr>-->
<!--    </tbody>-->
<!--</table>-->

</body>
</html>