<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">

    <div class="text-center">
        <div class="row">
            <div class="col">
                <h1>Preparing</h1>
                <hr>
                <div class="col">
                    Order 5
                </div>
            </div>

            <div class="col">
                <h1>Now Serving</h1>
                <hr>
                <div class="col">
                    Order 4
                </div>
            </div>
        </div>
        <div class="row ">

        </div>
    </div>
</div>

</body>
</html>