<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Product</title>
</head>
<body>
  <div layout:fragment="content">
    <h2>Update Product</h2>

    <form action="/product/save" th:object="${product}" method="POST">

      <!-- Add hidden form field to handle update -->
      <input type="hidden" th:field="*{id}" />

      <input type="text" th:field="*{name}" class="form-control mb-4 col-4">

      <input type="text" th:field="*{price}" class="form-control mb-4 col-4">

      <input type="text" th:field="*{fileLocation}" class="form-control mb-4 col-4">

      <button type="submit" class="btn btn-info col-2"> Update Product</button>
    </form>

    <hr>

    <a th:href="@{product}"> Back to Product List</a>
  </div>
</body>
</html>