<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Product</title>
</head>
<body>
  <div layout:fragment="content">

    <div class="container col-md-10 col-lg-8 col-sm-12 p-2 m-0 m-auto">
      <h2>Update Product</h2>

      <form action="/product/save" th:object="${product}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{name}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{price}" class="form-control mb-4 col-4">

        <div class="row">
          <select th:field="*{category}" class="col-3 mb-4">
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"
                    th:selected="(${product.category.id} == *{category.id})"></option>
          </select>

          <button type="submit" class="btn btn-info col-lg-10 ml-auto m-lg-auto"> Update Product</button>
        </div>
      </form>

      <hr>

      <a href="/product" class="btn btn-dark"> Back to Product List</a>
    </div>

  </div>
</body>
</html>