<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Product</title>
</head>
<body>
  <div layout:fragment="content">

    <div class="container col-md-10 col-lg-8 col-sm-12 p-2 m-0 m-auto">
      <h2>Update Product</h2>

      <form action="/product/update" th:object="${ProductUpdateDTO}" method="POST" >

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:value="${product.id}" name="id" />

        <label for="product-name" class="form-label">Product Name</label>
        <input id="product-name" type="text" th:value="${product.name}" class="form-control mb-4 col-4" name="name">

        <div class="row mb-4">
          <label for="product-category" class="form-label">Product Category</label>
          <select id="product-category" class="col-3 mb-4" name="category">
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"
                    th:selected="(${product.category.id} == ${category.id})"></option>
          </select>

        <label for="product-price" class="form-label">Product Price</label>
        <input id="product-price" type="text" th:value="${product.price}" class="form-control mb-4 col-4" name="price">

          <button type="submit" class="btn btn-primary col-sm-4 col-md-3 col-lg-3 ml-auto"> Update Product</button>
        </div>
      </form>

      <hr>

      <a href="/product" class="btn btn-dark"> Back to Product List</a>
    </div>

  </div>
</body>
</html>